@page
@model NexCountStoreFront.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Finalized Hero Start-->
<!--Finalized Hero Styles-->
<style>
    #home{
        background: url('images/gym/bg.jpg') center center;
    }
    .features{
        background-color: white;
    }
    

    @@media (max-width: 767px) {

        .title-heading {
            text-align: center;
            margin-bottom: 25px
        }

        .featuredcl {
            text-align: center;
            margin-top: 25px
        }
    }

    @@media (max-width: 767px) {
        
    
    }


    

</style>
<section id="home" class="bg-home d-flex align-items-center" @* style="background: url('images/gym/bg.jpg') center center;" *@>
    @* class="bg-half-170 d-table w-100 overflow-hidden" *@
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container mt-5">
        <div class="row">
            <!-- First Row -->
            <div class="col-md-6">
                <div class="title-heading">
                    <h1 class="heading mb-3 text-white">NexCount Apps Store</h1>

                    <p class="para-desc text-white">
                        We help empower your business with the right software <br />Explore our offerings and start growing today

                    </p>
                    <p class="para-desc text-white">Explore our diverse selection of ready-made and customizable applications tailored to your specific needs and budget</p>
                    <div class="mt-4 pt-2">
                        <a href="https://1.envato.market/landrick" target="_blank" class="btn btn-primary">Explore App</a>
                    </div>
                </div>
            </div><!--end col-->
            <!-- Second Row - Always in Column Form -->


            <div class="col-md-5 offset-md-1">
                <div class="row">
                    <h3 class="text-white featuredcl">Featured Apps</h3>
                    @foreach (var cardData in Model.CardDataList)
                    {
                        <div class="col-md-12 my-2">
                            @* <div class="d-flex features feature-primary key-feature align-items-center p-2 rounded shadow border border-light"> *@
                            <div class="d-flex features feature-primary key-feature align-items-center p-2 rounded shadow border border-light">
                                <div class="icon text-center rounded-circle me-3">
                                    <svg class="shadow " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor fea icon-ex-md"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>
                                    @* <img src="@cardData.ImageUrl" width="24" height="24" /> *@

                                </div>
                                <div class="flex-1 ">
                                    <h4 class="title mb-0 text-dark">@cardData.Title.</h4>
                                    <p class="text-dark">
                                        @cardData.Description

                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--end col-->
                    }

                    @*  <div class="col-md-12 mt-4 pt-2">
                    <div class="d-flex features feature-primary key-feature align-items-center p-3 rounded shadow border border-light">
                    <div class="icon text-center rounded-circle me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart fea icon-ex-md"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                    </div>
                    <div class="flex-1 d-flex flex-column">
                    <h2 class="title mb-0 text-white">Browser Compatibility</h2>
                    <p class="text-muted text-white">
                    We help empower your business with the right software. Explore our offerings and start growing today!.

                    </p>
                    </div>
                    </div>
                    </div><!--end col-->

                    <div class="col-md-12 mt-4 pt-2">
                    <div class="d-flex features feature-primary key-feature align-items-center p-3 rounded shadow border border-light">
                    <div class="icon text-center rounded-circle me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye fea icon-ex-md"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                    </div>
                    <div class="flex-1">
                    <h4 class="title mb-0 text-white">Retina Ready</h4>
                    </div>
                    </div>
                    </div><!--end col--> *@
                </div><!--end row-->
            </div><!--end col-->

        </div><!--end row-->
    </div><!--end container-->
</section>
<!--Finalized Hero End-->



@* <!-- Hero Start -->
<section class="bg-home d-flex align-items-center" style="background: url('images/gym/bg.jpg') center center;">
     <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-12">
                <div class="title-heading text-center">
                    <h4 class="heading heading-lg mb-3 fw-bold text-white title-dark">NexCount Apps Store</h4>
                    <p class="text-white-50 mx-auto">We help empower your business with the right software. Explore our offerings and start growing today!.</p>
                    <div class="mt-4 pt-2">
                        <a href="AppsList" class="btn btn-primary">Explore Apps</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 pt-2 move-to-next-section">
            <div class="col-lg-12">
                <div class="d-flex features feature-primary key-feature align-items-center p-3 rounded shadow border text-white">
                    <div>
                        <h4 class="title mb-0 fw-bold">Browser Compatibility</h4>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-12 mt-4 pt-2">
                <div class="d-flex features feature-primary key-feature align-items-center p-3 rounded shadow border text-white">
                    <div class="flex-1">
                        <h4 class="title mb-0">Browser Compatibility</h4>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-12 mt-4 pt-2">
                <div class="d-flex features feature-primary key-feature align-items-center p-3 rounded shadow border text-white">
                    <div class="flex-1">
                        <h4 class="title mb-0">Retina Ready</h4>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Second Section for Small Cards -->

<!-- Hero End --> *@







<!-- Introduction Start -->
<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="position-relative">
                    <img src="images/gym/about03.jpg" class="rounded-md shadow img-fluid" alt="">

                    @* <div class="play-icon">
                    <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="play-btn lightbox border-0">
                    <i class="mdi mdi-play text-primary rounded-circle shadow"></i>
                    </a>
                    </div> *@
                </div>
            </div><!--end col-->

            <div class="col-lg-7 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="section-title ms-lg-5">
                    <h4 class="title mb-4">Introducing NexCount, <br>Business Apps Store</h4>

                    <p class="text-muted">Running a business is no small feat, but with the right software tools, you can simplify operations, boost productivity, and increase profits. .</p>
                    <p class="text-muted mb-3">We offer a wide range of ready-made software solutions as well as bespoke and customized applications tailored to meet your specific requirements.</p>
                    <p class="text-muted mb-0">Discover a range of apps catered not only to your business needs but also to your budget. Our collection includes free apps with limited functionality, ideal for solo entrepreneurs or businesses taking their first steps into the digital landscape.</p>

                    <div class="mt-4">
                        <a href="" class="btn btn-pills btn-primary">Explore Now</a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    @*  <!----------Commented Part Start-->
    <div class="mt-100 mt-60">
    <div class="row justify-content-center mt-4">
    <div class="col-12">
    <div class="video-solution-cta position-relative" style="z-index: 1;">
    <div class="position-relative" style="background: #000305 url('images/gym/de02.jpg') top;">
    <div class="bg-overlay bg-gradient" style="opacity: 0.99;"></div>
    <div class="row">
    <div class="col-lg-3 col-6 my-4">
    <div class="counter-box text-center px-lg-4">
    <i class="uil uil-users-alt text-white-50 h2"></i>
    <h4 class="mb-4 text-white-50">Endless Possibilities</h4>
    <p class="text-white-50 para-dark para-desc mx-auto">Discover the perfect apps tailored for your business. Navigate through our curated collection and find the solutions that fit your needs like a glove.</p>
    </div><!--end counter box-->
    </div><!--end col-->

    <div class="col-lg-3 col-6 my-4">
    <div class="counter-box text-center px-lg-4">
    <i class="uil uil-schedule text-white-50 h2"></i>
    <h4 class="mb-4 text-white-50">Try Before You Commit</h4>
    <p class="text-white-50 para-dark para-desc mx-auto">Test the waters with our risk-free trials. Experience the features, witness the impact, and ensure that our apps align perfectly with your business goals.</p>
    </div><!--end counter box-->
    </div><!--end col-->

    <div class="col-lg-3 col-6 my-4">
    <div class="counter-box text-center px-lg-4">
    <i class="uil uil-file-check-alt text-white-50 h2"></i>
    <h4 class="mb-4 text-white-50">Customize Your Suite</h4>
    <p class="text-white-50 para-dark para-desc mx-auto">Tailor your app selection to match the unique needs of your business. Whether it's customization or integration, we've got you covered. Your success, your way.</p>
    </div><!--end counter box-->
    </div><!--end col-->

    <div class="col-lg-3 col-6 my-4">
    <div class="counter-box text-center px-lg-4">
    <i class="uil uil-hard-hat text-white-50 h2"></i>
    <h4 class="mb-4 text-white-50">Unleash the Power</h4>
    <p class="text-white-50 para-dark para-desc mx-auto">Experience the transformative power of smart technology. Elevate your business, delight your customers, and watch your success story unfold.</p>
    </div><!--end counter box-->
    </div><!--end col-->
    </div><!--end row-->
    </div>


    </div>
    </div><!--end col-->
    </div><!--end row -->
    </div>  <!----------Commented Part End-->*@

</section>
<!--End of Introduction-->



<!--Demo Intro Start-->
<section class="section">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
                        <div class="card work-container work-primary work-modern overflow-hidden rounded border-0 shadow-md">
                            <div class="card-body p-0">
                                <img src="images/gym/about03.jpg" class="img-fluid " alt="work-image">
                                <div class="overlay-work"></div>
                                <div class="content">
                                    <a href="javascript:void(0)" class="title text-white d-block fw-bold">Web Development</a>
                                    <small class="text-white-50">IT &amp; Software</small>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-6 col-6">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                                <div class="card work-container work-primary work-modern overflow-hidden rounded border-0 shadow-md">
                                    <div class="card-body p-0">
                                        <img src="images/gym/bg.jpg" class="img-fluid " alt="work-image">
                                        <div class="overlay-work"></div>
                                        <div class="content">
                                            <a href="javascript:void(0)" class="title text-white d-block fw-bold">Michanical Engineer</a>
                                            <small class="text-white-50">Engineering</small>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end col-->

                            <div class="col-lg-12 col-md-12 mt-4 pt-2">
                                <div class="card work-container work-primary work-modern overflow-hidden rounded border-0 shadow-md">
                                    <div class="card-body p-0">
                                        <img src="images/gym/Invoicing.jpg" class="img-fluid " alt="work-image">
                                        <div class="overlay-work"></div>
                                        <div class="content">
                                            <a href="javascript:void(0)" class="title text-white d-block fw-bold">Chartered Accountant</a>
                                            <small class="text-white-50">C.A.</small>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->

            <div class="col-lg-6 col-md-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
                <div class="ms-lg-4">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">Welcome to NexCount: Boosting Your Business with Innovative Apps</h4>
                        <p class="text-muted para-desc">Streamline your operations, enhance productivity, and drive profits with our range of software solutions.</p>
                        <p class="text-muted para-desc mb-0">Explore our diverse selection of ready-made and customizable applications tailored to your specific needs and budget.</p>

                    </div>

                    @* <ul class="list-unstyled text-muted">
                    <li class="mb-0"><span class="text-primary h4 me-2"><i class="uil uil-check-circle align-middle"></i></span>Fully Responsive</li>
                    <li class="mb-0"><span class="text-primary h4 me-2"><i class="uil uil-check-circle align-middle"></i></span>Multiple Layouts</li>
                    <li class="mb-0"><span class="text-primary h4 me-2"><i class="uil uil-check-circle align-middle"></i></span>Suits Your Style</li>
                    </ul> *@


                    @*
                    <div class="mt-4 pt-2">
                    <a href="https://1.envato.market/landrick" target="_blank" class="btn btn-primary m-1">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                    </div> *@
                    <div class="mt-4">
                        <a href="" class="btn btn-pills btn-primary">Explore Now</a>
                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div><!--end container-->
</section>
<!--Demo Intro End-->



<!--Software Solutions Starts-->
<section class=" mt-5">
    <h1 class=" text-center">Software Solutions</h1>
    <div class="row  justify-content-center">
        <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 ">
            <div class="card  border-0  rounded text-center">
                <div class="card-body ">
                    <div class="icons rounded-circle shadow-lg d-inline-block p-3">
                        @* <img src="assets/images/insurance/health.svg" class="avatar avatar-md-sm" alt=""> *@
                        @* <i class="fa-solid fa-file-invoice"></i> *@
                        <span class="material-symbols-outlined" style="font-size: 45px; width: 45px; height: 45px;">
                            account_balance
                        </span>
                    </div>
                    <div class="content mt-3">
                        <h5 class="mb-0">@* <a href="javascript:void(0)" class="title text-dark"> </a> *@Finance</h5>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 ">
            <div class="card  border-0  rounded text-center">
                <div class="card-body ">
                    <div class="icons rounded-circle shadow-lg d-inline-block p-3">
                        @* <img src="assets/images/insurance/term-life.svg" class="avatar avatar-md-sm" alt=""> *@
                        <span class="material-symbols-outlined" style="font-size: 45px; width: 45px; height: 45px;">
                            person
                        </span>
                    </div>
                    <div class="content mt-3">
                        <h5 class="mb-0">@* <a href="javascript:void(0)" class="title text-dark"> </a> *@HR</h5>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 ">
            <div class="card  border-0  rounded text-center">
                @* class="card features feature-primary explore-feature border-0  rounded text-center" *@
                <div class="card-body ">
                    <div class="icons rounded-circle shadow-lg d-inline-block p-3">
                        @* <img src="assets/images/insurance/family-health.svg" class="avatar avatar-md-sm" alt=""> *@
                        <span class="material-symbols-outlined" style="font-size: 45px; width: 45px; height: 45px;">
                            add_business
                        </span>
                    </div>
                    <div class="content mt-3">
                        <h5 class="mb-0">@* <a href="javascript:void(0)" class="title text-dark"> </a> *@Marketing</h5>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 ">
            <div class="card  border-0  rounded text-center">
                <div class="card-body ">
                    <div class="icons rounded-circle shadow-lg d-inline-block p-3">
                        @*  <img src="assets/images/insurance/investment.svg" class="avatar avatar-md-sm" alt=""> *@
                        <span class="material-symbols-outlined" style="font-size: 45px; width: 45px; height: 45px;">
                            point_of_sale
                        </span>
                    </div>
                    <div class="content mt-3">
                        <h5 class="mb-0">@* <a href="javascript:void(0)" class="title text-dark"> </a> *@Sales</h5>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 ">
            <div class="card  border-0  rounded text-center">
                <div class="card-body ">
                    <div class="icons rounded-circle shadow-lg d-inline-block p-3">
                        @* <img src="assets/images/insurance/car.svg" class="avatar avatar-md-sm" alt=""> *@
                        <span class="material-symbols-outlined" style="font-size: 45px; width: 45px; height: 45px;">
                            partner_exchange
                        </span>
                    </div>
                    <div class="content mt-3">
                        <h5 class="mb-0">@* <a href="javascript:void(0)" class="title text-dark"> </a> *@Collaborative</h5>
                    </div>
                </div>
            </div>
        </div><!--end col-->


    </div>
</section>
<!--Software Solutions End-->
<!-- Rating div Start-->
<section class="video-solution-cta mt-5 px-2 py-5" style="background-color: #2f55d4 ;">
    <h1 class="display-4 text-white text-center py-3">Innovative Solutions - Where Craft Meets Passion</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="counter-box text-center">
                    <i class="uil uil-users-alt text-white h2"></i>
                    <h3 class="text-white"><span class="counter-value" data-target="9759">100</span>+</h3>
                    <h6 class="counter-head text-white">Happy Client</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="counter-box text-center">
                    <i class="uil uil-schedule text-white h2"></i>
                    <h3 class="text-white"><span class="counter-value" data-target="15">1</span>+</h3>
                    <h6 class="counter-head text-white">Years Experience</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="counter-box text-center">
                    <i class="uil uil-file-check-alt text-white h2"></i>
                    <h3 class="text-white"><span class="counter-value" data-target="151">12</span>+</h3>
                    <h6 class="counter-head text-white">Project Complete</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="counter-box text-center">
                    <i class="uil uil-hard-hat text-white h2"></i>
                    <h3 class="text-white"><span class="counter-value" data-target="98">3</span>+</h3>
                    <h6 class="counter-head text-white">Expert Engineers</h6>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Rating div End-->
<!-- Industries Start-->
<section>
    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-0 pb-2">
                    <h1 class="title mb-4">Industries We Expertly Transform</h1>
                    @* <p class="text-muted para-desc mb-0 mx-auto">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p> *@
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card features feature-primary feature-full-bg rounded p-4 position-relative overflow-hidden border-0">
                    <span class="display-4 mb-4 icon-color">
                        <i class="mdi mdi-gymnastics"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Healthcare</h5>
                        <p class="para text-muted">Electronic health records, medical imaging, patient management, and telemedicine.</p>

                        <div class="">
                            <a href="" class="readmore text-muted fw-semibold">Join Now <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card features feature-primary feature-full-bg rounded p-4 position-relative overflow-hidden border-0">
                    <span class="display-4 mb-4 icon-color">
                        <i class="mdi mdi-gymnastics"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Education</h5>
                        <p class="para text-muted">Learning management systems, virtual classrooms, and online training platforms.</p>

                        <div class="">
                            <a href="" class="readmore text-muted fw-semibold">Join Now <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card features feature-primary feature-full-bg rounded p-4 position-relative overflow-hidden border-0">
                    <span class="display-4 mb-4 icon-color">
                        <i class="mdi mdi-dumbbell"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Retail</h5>
                        <p class="para text-muted">E-commerce platforms, inventory management systems, and point-of-sale software.</p>

                        <div class="">
                            <a href="" class="readmore text-muted fw-semibold">Join Now <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card features feature-primary feature-full-bg rounded p-4 position-relative overflow-hidden border-0">
                    <span class="display-4 mb-4 icon-color">
                        <i class="mdi mdi-weight-lifter"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Transportation and Logistics</h5>
                        <p class="para text-muted">Route optimization, fleet management, and logistics.</p>

                        <div class="">
                            <a href="" class="readmore text-muted fw-semibold">Join Now <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card features feature-primary feature-full-bg rounded p-4 position-relative overflow-hidden border-0">
                    <span class="display-4 mb-4 icon-color">
                        <i class="mdi mdi-google-fit"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Real Estate</h5>
                        <p class="para text-muted">Property management software, real estate marketplaces, and construction management tools.</p>

                        <div class="">
                            <a href="" class="readmore text-muted fw-semibold">Join Now <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card features feature-primary feature-full-bg rounded p-4 position-relative overflow-hidden border-0">
                    <span class="display-4 mb-4 icon-color">
                        <i class="mdi mdi-google-fit"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Human Resources</h5>
                        <p class="para text-muted">Recruitment, employee management, and performance evaluation.</p>

                        <div class="">
                            <a href="" class="readmore text-muted fw-semibold">Join Now <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card features feature-primary feature-full-bg rounded p-4 position-relative overflow-hidden border-0">
                    <span class="display-4 mb-4 icon-color">
                        <i class="mdi mdi-google-fit"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Security</h5>
                        <p class="para text-muted">Cybersecurity software, surveillance systems, and access control.</p>

                        <div class="">
                            <a href="" class="readmore text-muted fw-semibold">Join Now <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card features feature-primary feature-full-bg rounded p-4 position-relative overflow-hidden border-0">
                    <span class="display-4 mb-4 icon-color">
                        <i class="mdi mdi-google-fit"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Social Media and Networking</h5>
                        <p class="para text-muted">Social networking platforms, messaging apps, and community management tools.</p>

                        <div class="">
                            <a href="" class="readmore text-muted fw-semibold">Join Now <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card features feature-primary feature-full-bg rounded p-4 position-relative overflow-hidden border-0">
                    <span class="display-4 mb-4 icon-color">
                        <i class="mdi mdi-google-fit"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Event Planning and Management</h5>
                        <p class="para text-muted">Event registration, ticketing.</p>

                        <div class="">
                            <a href="" class="readmore text-muted fw-semibold">Join Now <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card features feature-primary feature-full-bg rounded p-4 position-relative overflow-hidden border-0">
                    <span class="display-4 mb-4 icon-color">
                        <i class="mdi mdi-google-fit"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Artificial Intelligence</h5>
                        <p class="para text-muted">AI and ML applications across various industries.</p>

                        <div class="">
                            <a href="" class="readmore text-muted fw-semibold">Join Now <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div>
    </div><!--end container-->
</section>
<!-- Industries End -->
<!-- CTA Start(Ready to Embark) -->
<section class="section bg-cta" style="background: url('images/gym/cta02.jpg') top;" id="cta">
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container my-5">
        <div class="row justify-content-center mb-0">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h4 class="title title-dark text-white mb-4">Ready to Elevate Your Business? Start Your Business Transformation Today</h4>
                    <p class="text-white-50 para-dark para-desc mx-auto mb-5">Embark on a journey of efficiency, growth, and success with our powerful suite of business apps. Take charge of your business destiny now!.</p>

                    @*  <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="avatar avatar-md-md mx-auto rounded-pill shadow-md card d-flex justify-content-center align-items-center lightbox">
                    <i class="mdi mdi-play mdi-24px text-primary"></i>
                    </a> *@
                </div>
            </div><!--end col-->
        </div><!--end row-->

    </div><!--end container-->

</section><!--end section-->
<!-- CTA End(Ready to Embark) -->
<!-- Featured App Start -->
<section class="section">

    <!--container trusted by customers-->
    @* <div class="container mt-100 mt-60">
    <div class="row justify-content-center">
    <div class="col">
    <div class="section-title text-center mb-4 pb-2">
    <h2 class="title mb-4">Trusted by Our Customers</h2>
    <p class="text-muted para-desc mx-auto mb-0">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
    </div>
    </div><!--end col-->
    </div><!--end row-->

    <div class="row justify-content-center">
    <div class="col-lg-12 mt-4">
    <div class="tiny-three-item">
    <div class="tiny-slide wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
    <div class="d-flex client-testi m-1">
    <img src="images/client/01.jpg" class="avatar avatar-small client-image rounded shadow" alt="">
    <div class="card flex-1 content p-3 shadow rounded position-relative">
    <ul class="list-unstyled mb-0">
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    </ul>
    <p class="text-muted mt-2">" It seems that only fragments of the original text remain in the Lorem Ipsum texts used today. "</p>
    <h6 class="text-primary">- Thomas Israel <small class="text-muted">C.E.O</small></h6>
    </div>
    </div>
    </div>

    <div class="tiny-slide wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
    <div class="d-flex client-testi m-1">
    <img src="images/client/02.jpg" class="avatar avatar-small client-image rounded shadow" alt="">
    <div class="card flex-1 content p-3 shadow rounded position-relative">
    <ul class="list-unstyled mb-0">
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star-half text-warning"></i></li>
    </ul>
    <p class="text-muted mt-2">" One disadvantage of Lorum Ipsum is that in Latin certain letters appear more frequently than others. "</p>
    <h6 class="text-primary">- Barbara McIntosh <small class="text-muted">M.D</small></h6>
    </div>
    </div>
    </div>

    <div class="tiny-slide wow animate__animated animate__fadeInUp" data-wow-delay=".7s">
    <div class="d-flex client-testi m-1">
    <img src="images/client/03.jpg" class="avatar avatar-small client-image rounded shadow" alt="">
    <div class="card flex-1 content p-3 shadow rounded position-relative">
    <ul class="list-unstyled mb-0">
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    </ul>
    <p class="text-muted mt-2">" The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. "</p>
    <h6 class="text-primary">- Carl Oliver <small class="text-muted">P.A</small></h6>
    </div>
    </div>
    </div>

    <div class="tiny-slide wow animate__animated animate__fadeInUp" data-wow-delay=".9s">
    <div class="d-flex client-testi m-1">
    <img src="images/client/04.jpg" class="avatar avatar-small client-image rounded shadow" alt="">
    <div class="card flex-1 content p-3 shadow rounded position-relative">
    <ul class="list-unstyled mb-0">
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    </ul>
    <p class="text-muted mt-2">" According to most sources, Lorum Ipsum can be traced back to a text composed by Cicero. "</p>
    <h6 class="text-primary">- Christa Smith <small class="text-muted">Manager</small></h6>
    </div>
    </div>
    </div>

    <div class="tiny-slide wow animate__animated animate__fadeInUp" data-wow-delay="1.1s">
    <div class="d-flex client-testi m-1">
    <img src="images/client/05.jpg" class="avatar avatar-small client-image rounded shadow" alt="">
    <div class="card flex-1 content p-3 shadow rounded position-relative">
    <ul class="list-unstyled mb-0">
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    </ul>
    <p class="text-muted mt-2">" There is now an abundance of readable dummy texts. These are usually used when a text is required. "</p>
    <h6 class="text-primary">- Dean Tolle <small class="text-muted">Developer</small></h6>
    </div>
    </div>
    </div>

    <div class="tiny-slide wow animate__animated animate__fadeInUp" data-wow-delay="1.3s">
    <div class="d-flex client-testi m-1">
    <img src="images/client/06.jpg" class="avatar avatar-small client-image rounded shadow" alt="">
    <div class="card flex-1 content p-3 shadow rounded position-relative">
    <ul class="list-unstyled mb-0">
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
    </ul>
    <p class="text-muted mt-2">" Thus, Lorem Ipsum has only limited suitability as a visual filler for German texts. "</p>
    <h6 class="text-primary">- Jill Webb <small class="text-muted">Designer</small></h6>
    </div>
    </div>
    </div>
    </div>
    </div><!--end col-->
    </div><!--end row-->
    </div><!--end container--> *@

    <div class="container mt-60">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title text-center mb-4 pb-2">
                    <h1 class="title mb-4">Featured Apps</h1>
                    @* <p class="text-muted para-desc mx-auto mb-0">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p> *@
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">


            <!--1-->
            <div class="col-lg-4 col-md-6 mt-4 pt-2" style="cursor: pointer">
                <div class="card blog blog-primary rounded card-border-1 shadow">
                    <div class="position-relative">
                        <img src="images/gym/Invoicing.jpg" class="card-img-top rounded-top" alt="...">

                        <div class="overlay rounded-top"></div>
                    </div>
                    <div class="card-body content text-center">
                        <h4 class="text-center">Invoicing</h4>
                        <p class="text-muted mb-0">Simplify billing processes with our Invoicing app for fast and accurate transactions</p>
                        <div class="post-meta d-flex justify-content-center mt-2">
                            <a href="appdetail/appone" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <!--1-->
            <!--2-->
            <div class="col-lg-4 col-md-6 mt-4 pt-2" style="cursor: pointer">
                <div class="card blog blog-primary rounded card-border-1 shadow">
                    <div class="position-relative">
                        <img src="images/gym/Invoicing.jpg" class="card-img-top rounded-top" alt="...">

                        <div class="overlay rounded-top"></div>
                    </div>
                    <div class="card-body content text-center">
                        <h4 class="text-center">Inventory Management</h4>
                        <p class="text-muted mb-0">Optimize operations with our Inventory Management app for efficient inventory control</p>
                        <div class="post-meta d-flex justify-content-center mt-2">
                            <a href="appdetail/appone" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <!--2-->
            <!--3-->
            <div class="col-lg-4 col-md-6 mt-4 pt-2" style="cursor: pointer">
                <div class="card blog blog-primary rounded card-border-1 shadow">
                    <div class="position-relative">
                        <img src="images/gym/Invoicing.jpg" class="card-img-top rounded-top" alt="...">

                        <div class="overlay rounded-top"></div>
                    </div>
                    <div class="card-body content text-center">
                        <h4 class="text-center">Accounting</h4>
                        <p class="text-muted mb-0">Gain financial clarity and control with our Accounting app for managing expenses and revenue</p>
                        <div class="post-meta d-flex justify-content-center mt-2">
                            <a href="appdetail/appone" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <!--3-->
            <!--4-->
            <div class="col-lg-4 col-md-6 mt-4 pt-2" style="cursor: pointer">
                <div class="card blog blog-primary rounded card-border-1 shadow">
                    <div class="position-relative">
                        <img src="images/gym/Invoicing.jpg" class="card-img-top rounded-top" alt="...">

                        <div class="overlay rounded-top"></div>
                    </div>
                    <div class="card-body content text-center">
                        <h4 class="text-center">People Management</h4>
                        <p class="text-muted mb-0">Enhance HR processes with our People Management app for seamless employee engagement</p>
                        <div class="post-meta d-flex justify-content-center mt-2">
                            <a href="appdetail/appone" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <!--4-->
            <!--5-->
            <div class="col-lg-4 col-md-6 mt-4 pt-2" style="cursor: pointer">
                <div class="card blog blog-primary rounded card-border-1 shadow">
                    <div class="position-relative">
                        <img src="images/gym/Invoicing.jpg" class="card-img-top rounded-top" alt="...">

                        <div class="overlay rounded-top"></div>
                    </div>
                    <div class="card-body content text-center">
                        <h4 class="text-center">Customer Relationship Management (CRM)</h4>
                        <p class="text-muted mb-0">Drive sales and nurture relationships with our CRM manage leads effectively</p>
                        <div class="post-meta d-flex justify-content-center mt-2">
                            <a href="appdetail/appone" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <!--5-->
            <!--6-->
            <div class="col-lg-4 col-md-6 mt-4 pt-2" style="cursor: pointer">
                <div class="card blog blog-primary rounded card-border-1 shadow">
                    <div class="position-relative">
                        <img src="images/gym/Invoicing.jpg" class="card-img-top rounded-top" alt="...">

                        <div class="overlay rounded-top"></div>
                    </div>
                    <div class="card-body content text-center">
                        <h4 class="text-center">Event Management</h4>
                        <p class="text-muted mb-0">Plan and execute successful events with our Event Management app for seamless event planning</p>
                        <div class="post-meta d-flex justify-content-center mt-2">
                            <a href="appdetail/appone" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <!--6-->
            @* <div class="col-lg-4 col-md-6 mt-4 pt-2">
            <div class="card blog blog-primary rounded card-border-1 shadow">
            <div class="position-relative">
            <img src="images/gym/4.png" class="card-img-top rounded-top" alt="...">
            <div class="overlay rounded-top"></div>
            </div>
            <div class="card-body content">
            <h5><a href="javascript:void(0)" class="card-title title text-dark">Today is the Best Day to Start Training</a></h5>
            <p class="text-muted mb-0">The advantage of its Latin origin and the relative</p>
            <div class="post-meta d-flex justify-content-between mt-2">
            <ul class="list-unstyled mb-0">
            <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart me-1"></i>33</a></li>
            <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a></li>
            </ul>
            <a href="blog-detail.html" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
            </div>
            </div>
            <div class="author">
            <small class="user d-block"><i class="uil uil-user"></i> Calvin Carlo</small>
            <small class="date"><i class="uil uil-calendar-alt"></i> 25th June 2021</small>
            </div>
            </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 mt-4 pt-2">
            <div class="card blog blog-primary rounded card-border-1 shadow">
            <div class="position-relative">
            <img src="images/gym/expenses1.jpg" class="card-img-top rounded-top" alt="...">
            <div class="overlay rounded-top"></div>
            </div>
            <div class="card-body content">
            <h5><a href="javascript:void(0)" class="card-title title text-dark">Simple Condition for all Around Fitness</a></h5>
            <p class="text-muted mb-0">The advantage of its Latin origin and the relative</p>
            <div class="post-meta d-flex justify-content-between mt-2">
            <ul class="list-unstyled mb-0">
            <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart me-1"></i>33</a></li>
            <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a></li>
            </ul>
            <a href="blog-detail.html" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
            </div>
            </div>
            <div class="author">
            <small class="user d-block"><i class="uil uil-user"></i> Calvin Carlo</small>
            <small class="date"><i class="uil uil-calendar-alt"></i> 25th June 2021</small>
            </div>
            </div>
            </div><!--end col--> *@
        </div><!--end row-->
    </div><!--end container-->
    <!--This is the change in v2.4-->


</section>
<!-- Featured App End-->


































<!--Test Start-->
@* @model NexCountStoreFront.Pages.IndexModel


<div class="card border border-light shadow-dark " style="width: 30rem;">
    <ul class="list-group-flush">
        @foreach (var cardData in Model.CardDataList)
        {
            <li class="list-group-item ">

                <div style="max-width: 540px;">
                    <div class="row g-0 ">
                        <div class="col-md-4 px-2 py-1">
                            <div class="img-container d-flex align-items-center justify-content-center" style="height: 100%;">
                                <img src="@cardData.ImageUrl" class="img-fluid rounded" alt="...">
                            </div>
                        </div>
                        <div class="col-md-8 px-2 py-1">
                            <div class="d-flex flex-column align-items-Start" style="height: 100%;">
                                <h6 class="card-title">@cardData.Title</h6>
                                <p>@cardData.Description</p>
                                <div class="post-meta d-flex justify-content-end mt-2">
                                    <a href="" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
        }
    </ul>
</div> *@
<!--Test End-->
<!--Test Ends-->
